* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 20vh;
}

.login-link {
  background-image: linear-gradient(
    rgba(14, 1, 1, 0.945),
    rgba(19, 3, 3, 0.99)
  );
  padding: 0.7rem 1.2rem;
  color: white;
  text-decoration: none;
}

.list-width {
  width: 20%;
}

.item-nav {
  float: left;
  width: 33.33%;
  padding: 0px;
  list-style: none;
}

.list-padding {
  padding-left: 3rem;
}

.nav-left-margin {
  margin-right: 10rem;
}

.top-padding {
  padding-top: 1rem;
}

.subscribe-link,
.subscribe-link:hover {
  color: black;
  font-weight: 700;
  font-size: smaller;
}

.subscribe-link::after {
  content: "";
}

main {
  padding-left: 200px;
}


.quote {
  position: relative;
}

span {
  line-height: 1.125rem;
  display: block;
  position: relative;
  left: 0;
}

.main-article {
  width: 54%;
  display: block;
  padding-top: 40px;
  margin-left: 112px;
}

.author {
  background: seashell;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.section-container {
  margin-top: 60px;
}
.left-section {
  float: left;
}

li {
  display: inline;
}

.social > li {
  float: right;
  margin-right: 20px;
}

.social-icon {
  width: 15px;
  height: 15px;
}

.right-section {
  padding-right: 8px;
  float: right;
}

.main-text-container {
  margin-top: 20px;
}

.main-text {
  margin-top: 20px;
  display: block;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.caption-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(102, 102, 102);
}

.images {
  margin-top: 30px;
}

.pict-img {
  width: 80%;
}

.aside-scene > ul > li {
  float: left;
  width: 25%;
  padding: 5px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
}

.scene-1 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) 0px 0px;
  background-size: 1050px 800px;
}

.scene-2 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -244px 0px;
  background-size: 1050px 800px;
}

.scene-3 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -504px 0px;
  background-size: 1050px 800px;
}

.scene-4 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -777px 0px;
  background-size: 1050px 800px;
}

.scene-5 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) 0px -1220px;
  background-size: 1050px 800px;
}

.scene-6 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -250px -1200px;
  background-size: 1050px 800px;
}

.scene-7 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -515px -1200px;
  background-size: 1050px 800px;
}

.scene-8 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -785px -1200px;
  background-size: 1050px 800px;
}

.caption-text-final {
  float: left;
}

.main-video {
  width: 100%;
  height: 100%;
}

.captions {
  display: block;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.title {
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.space-img {
  width: 100%;
}

.announce {
  margin-top: 40px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  color: rgb(102, 102, 102);
}

.more-comments-container > ul {
  list-style: none;
}

.more-comments-container > ul > li {
  margin-top: 40px;
  float: left;
}

.list-item-left {
  width: 50%;
}

.btn-read-more {
  background-color: rgb(86, 123, 149);
  color: white;
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  border-radius: 3px;
  padding: 5px 0px;
  transition: background-color 0.6s ease 0s;
}

.list-item-right {
  width: 50%;
}

.clear {
  clear: both;
}

.short-line {
  border: 1px solid black;
  width: 5%;
}

.long-line {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 1px solid gray;
  width: 100%;
}

.read-more {
  width: 100%;
}

.read-more > lu {
  list-style: none;
}

main {
  max-width: 1200px;
  margin: auto;
}
