* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 20vh;
}

.login-link {
  background-image: linear-gradient(
    rgba(14, 1, 1, 0.945),
    rgba(19, 3, 3, 0.99)
  );
  padding: 0.7rem 1.2rem;
  color: white;
  text-decoration: none;
}

.list-width {
  width: 20%;
}

.item-nav {
  float: left;
  width: 33.33%;
  padding: 0px;
  list-style: none;
}

.list-padding {
  padding-left: 3rem;
}

.nav-left-margin {
  margin-right: 10rem;
}

.top-padding {
  padding-top: 1rem;
}

.subscribe-link,
.subscribe-link:hover {
  color: black;
  font-weight: 700;
  font-size: smaller;
}

.subscribe-link::after {
  content: "";
}
