* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 20vh;
}

.login-link {
  background-image: linear-gradient(
    rgba(14, 1, 1, 0.945),
    rgba(19, 3, 3, 0.99)
  );
  padding: 0.7rem 1.2rem;
  color: white;
  text-decoration: none;
}

.list-width {
  width: 20%;
}

.item-nav {
  float: left;
  width: 33.33%;
  padding: 0px;
  list-style: none;
}

.list-padding {
  padding-left: 3rem;
}

.nav-left-margin {
  margin-right: 10rem;
}

.top-padding {
  padding-top: 1rem;
}

.subscribe-link,
.subscribe-link:hover {
  color: black;
  font-weight: 700;
  font-size: smaller;
}

.subscribe-link::after {
  content: "";
}

main {
  padding-left: 200px;
}

.css-11cwn6f {
  margin-bottom: 8px;
}

.quote {
  position: relative;
}

span {
  line-height: 1.125rem;
  display: block;
  position: relative;
  left: 0;
}

.main-article {
  display: block;

  padding: 200px;
}

.author {
  background: seashell;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.section-container {
  margin-top: 60px;
}
.left-section {
  float: left;
}

li {
  display: inline;
}

.social > li {
  margin-right: 10px;
}

.social-icon {
  width: 15px;
  height: 15px;
}

.right-section {
  padding-right: 8px;
  float: right;
}

.main-text-container {
  
  margin-top: 20px;
}

.main-text {
  margin-top: 20px;
  display: block;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.caption-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: rgb(102, 102, 102);
}

.images {
  margin-top: 30px;
}

.pict-img {
  width: 60%;
}

.aside-scene > ul > li {
  float: left;
  width: 25%;
  padding: 5px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
}

.scene-1 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) 0px 0px;
  background-size: 1050px 800px;
}

.scene-2 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -244px 0px;
  background-size: 1050px 800px;
}

.scene-3 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -504px 0px;
  background-size: 1050px 800px;
}

.scene-4 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -777px 0px;
  background-size: 1050px 800px;
}

.scene-5 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) 0px -1220px;
  background-size: 1050px 800px;
}

.scene-6 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -250px -1200px;
  background-size: 1050px 800px;
}


.scene-7 {
  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -515px -1200px;
  background-size: 1050px 800px;
}

.scene-8{

  width: 100%;
  height: 190px;
  background-size: cover;
  position: relative;
  background: url(../img/inflation.png) -785px -1200px;
  background-size: 1050px 800px;
}


 .main-text-container-1 {
  width: 100vh;
  
  position: relative;
  left: 0;
}

.caption-text-final{
  float: left;
}

.main-video{
  width: 100%;
  height: 100%;
}

.captions{
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}


.space-image{
  width: 100%;
}